---
layout: page.njk
---     

<div class="section">   
    <div class="post">
        <time>{{ timestamp }}</time>
        <h2>{{ title }}</h2>
        <hr>
        <div class="post__content">
            {{ content | safe }}
        </div>
    </div>
</div>     
<a href="../blog.html"><img src="../assets/icons/arrow-left.png" class="icon" alt="Back arrow">back</a>  