---
layout: page.njk
---   
       
<div class="content">
    <div class="section">
        <h3>Posts</h3> 
        <ul>
            {% for item in collections.post | reverse %}
                <li class="post-listing">
                    <a href="{{ item.page.url }}"> {{ item.data.title }} </a>
                    <time datetime="{{ item.data.date }}" class="post-listing__time"> {{ item.data.timestamp }} </time>
                </li>
            {% endfor %}
        </ul>          
    </div>     
    <a href="./home.html"><img src="../assets/icons/arrow-left.png" class="icon" alt="Back arrow">back</a>  
</div>