<div class="sidebar">
    <nav>
        <ul>
            <a href="/index.html" class="navlink"><li class="navtext navtext--first {{ 'navtext--current' if '/index' in page.url }}">home</li></a>
            
            <a class="navlink dropdown__btn"><li class="navtext">about</li></a>
            <div class="dropdown__menu">
                <a href="/about/me.html" class="navlink {{ 'navtext--current' if '/about/me' in page.url }}"><li class="navtext">me</li></a>
                <a href="/about/site.html" class="navlink {{ 'navtext--current' if '/about/site' in page.url }}"><li class="navtext">the site</li></a>
            </div>

            <a class="navlink dropdown__btn"><li class="navtext">my work</li></a>
            <div class="dropdown__menu">
                <a href="/work/art.html" class="navlink {{ 'navtext--current' if '/work/art' in page.url }}"><li class="navtext">art</li></a>
                <a href="/work/coding.html" class="navlink {{ 'navtext--current' if '/work/coding' in page.url }}"><li class="navtext">coding</li></a>                    
                <a href="/work/fraidy.html" class="navlink {{ 'navtext--current' if '/work/fraidy' in page.url }}"><li class="navtext">fraidy the cat</li></a>
            </div>

            <a href="/blog.html" class="navlink"><li class="navtext {{ 'navtext--current' if '/blog' in page.url }}">blog</li></a>
            <a href="/links.html" class="navlink"><li class="navtext {{ 'navtext--current' if '/links' in page.url }}">links</li></a>
            <a href="/guestbook.html" class="navlink"><li class="navtext {{ 'navtext--current' if '/guestbook' in page.url }}">guestbook</li></a>
        </ul>
        <script src="/scripts/toggleDropdown.js"></script>
    </nav>
</div>
